<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Comdata.AppSupport.DirectDepositFix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Comdata.AppSupport.DirectDepositFix.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>W:\Logs\DirectDepositFix</value>
            </setting>
            <setting name="LoggingThreshold" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="ProcessedDir" serializeAs="String">
                <value>W:\Processed</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>W:\processed\backup</value>
            </setting>
            <setting name="SendDir" serializeAs="String">
                <value>W:\outgoing\mellon</value>
            </setting>
            <setting name="SendScript" serializeAs="String">
                <value>W:\bin\DirectDepositFTPUtility.bat</value>
            </setting>
            <setting name="FilemePattern" serializeAs="String">
                <value>PLSD.DDTransmission_Outgoing_*.dat</value>
            </setting>
        </Comdata.AppSupport.DirectDepositFix.Properties.Settings>
    </applicationSettings>
</configuration>